.centered
{
    text-align: center; /* align text centrally*/
}

.large
{
    font-size: large; /*different font size classes*/
}

.medium
{
    font-size: medium;
}

.small
{
    font-size: small;
}

ol.center
{
    list-style-position: inside; /* styles for the ordered list. Different colour for the ordered list numbers, plus aligning the numbers centrally*/
    text-align: center;
    padding: 0;
}

.colour
{
    color: red /*font colour*/
}
